@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}
.result-research-form{
    margin-bottom: 30px;
    padding: 20px;
    height: auto;
    box-shadow: 0 0 10px 0 #00000070;
}

form{
    text-align: center;
}
form .field input{
    height: 5%;
    width: 20%;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    transition: all 0.3s ease;
}
form .field2 input{
    height: 5%;
    width: 15%;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    transition: all 0.3s ease;
}
form .field2{
    padding-top: 15px;
}
form .field input:focus{
    border-color: blue;
}
form .buttom-area,
.resulta{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}
form .buttom-area button{
    background-color: blue;
    color: white;
    display: block;
    width: 160px;
    height: 45px;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    cursor: pointer;
    flex-wrap: wrap;
    border: 1px solid blue;
    transition: all 0.3s ease;
}
form .buttom-area button:hover{
    color: blue;
    background: none;
}

.resulta{
    border: 2px solid black;
    width: 100px;
    height: 50px;
    padding: 20px;
}